aside {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 320px;
  background-color: white;

  @include media(640px) {
    position: relative;
    left: 0;
  }

  h2 {
    position: relative;
    padding: 10px 15px;
    background-color: black;
    color: white;
    margin-bottom: 10px;

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      background-color: black;
      position: absolute;
      right: 15px;
      bottom: -6.5px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  form {
    padding: 10px 15px;
  }
  input {
    margin-bottom: 10px;
    padding: 15px 10px;
    width: 100%;
  }
}
