header {
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
  padding: 28px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;

  @include media(640px) {
    position: static;
    box-shadow: none;
  }

  h1 {
    float: left;

    @include media(640px) {
      float: none;
      text-align: center;
    }
  }
  button {
    float: right;
    padding: 10px 15px;
    border: 1px solid lightgray;
    background-color: white;
    cursor: pointer;

    @include media(640px) {
      float: left;
      width: 33.33%;
      margin: 15px 0;
    }

    &:hover,
    &:focus {
      background-color: lightgray;
      outline: none;
    }
  }
}
