<header>
  <h1>{{markers.length}} boliger</h1>
  <button ng-click='json1()'>Json 1</button>
  <button ng-click='json2()'>Json 2</button>
  <button ng-click='json3()'>Json 3</button>
</header>
<main>
  <div class="map" map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map default-style="false" center="55.660058, 12.521015" zoom="10">
      <info-window id="info">
        <div ng-non-bindable="">
          <p><strong>{{infoWindow.address1}}</strong></p>
          <p><strong>{{infoWindow.zipCode.zipCodeId}} {{infoWindow.zipCode.name}}</strong></p>
          <p><strong>{{infoWindow.brokerChain}}: {{infoWindow.propertySizeAdvertized}} m2</strong></p>
          <p><strong>Kontant: {{infoWindow.price}} kr.</strong></p>
        </div>
      </info-window>
      <marker ng-repeat="(id, marker) in markers | filter:search" icon="{url:'/images/marker.png', scaledSize:[25,25]}" id="{{id}}" position="{{marker.latLon.lat}},{{marker.latLon.lon}}" on-click="main.showHome(id)"></marker>
    </ng-map>
  </div>
</main>
<aside>
  <h2>Search</h2>
  <form action="">
    <input placeholder="Postnummer" type="text" ng-model="search.zipCode.zipCodeId">
    <input placeholder="Bygge År" type="text" ng-model="search.builtYear">
    <input placeholder="Rum" type="number" ng-model="search.totalNumberOfRooms">
  </form>
  <!-- <div ng-repeat="marker in markers">
    <p>{{marker.price}}</p>
    <p>{{marker.netto}}</p>
    <p>{{marker.brutto}}</p>
    <p>{{marker.address1}}</p>
    <p>{{marker.placeName}}</p>
    <p>{{marker.builtYear}}</p>
    <p>{{marker.propertySizeAdvertized}}</p>
    <p>{{marker.totalNumberOfRooms}}</p>
    <p>{{marker.spotText}}</p>
    <p>{{marker.hasOpenHouseCurrently}}</p>
    <p>{{marker.openHouseDisplayText}}</p>
    <p>{{marker.salesMethod}}</p>
    <p>{{marker.brokerChain}}</p>
    <p>{{marker.externalPropertyUrl}}</p>
    <p>{{marker.externalPropertyImageUrl}}</p>
    <p>{{marker.brokerChainId}}</p>
    <p>{{marker.brokerChainName}}</p>
    <p>{{marker.isSwapProperty}}</p>
    <p>{{marker.pricePerM2}}</p>
    <p>{{marker.andelsboligBoligYdelse}}</p>
    <p>{{marker.andelsboligAnvendelsesUdgifter}}</p>
    <p>{{marker.energyClassification}}</p>
    <p>{{marker.propertyId}}</p>
    <p>{{marker.broker.brokerId}}</p>
    <p>{{marker.broker.brokerName}}</p>
    <p>{{marker.latLon.lat}}</p>
    <p>{{marker.latLon.lon}}</p>
    <p>{{marker.county.countyId}}</p>
    <p>{{marker.county.name}}</p>
    <p>{{marker.zipCode.zipCodeId}}</p>
    <p>{{marker.zipCode.name}}</p>
    <p>.................................................</p>
  </div> -->
</aside>
